 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
     .section_padding {
         padding: 30px 0 !important;
     }

     .row_margin {
         margin-top: 15px;
     }

     /* header */


     .menu {
         text-align: right;
     }

     #signUp,
     #logIn {
         display: inline-block;
         margin: 0;
         margin-top: 5px;
         padding: 7px 0 !important;
         width: 100px;
     }

     .logo_wrapper a {
         width: 50px;
     }

     .logo_wrapper {
         position: absolute;
         top: 10px;
         z-index: 1;
     }



     /* header */
     /* banner */
     .slider_content {
         margin-top: 320px;
         height: 400px;
     }

     .slider_content h1 {
         font-size: 34px;

     }

     .slider_img_wrapper {
         width: 180px;
     }

     .carousel-indicators-custom {
         bottom: -60px;
     }

     /* how it works  start*/
     .step_content h1 {
         font-size: 27px;
     }

     /* how it works */
     .how_works {
         padding-bottom: 15px;
     }

     /* how it works  end*/
     /* how it works video section start*/
     .how_works {
         margin-top: -300px;
     }

     .section_heading h1 {
         font-size: 44px;
     }

     .section_heading p {
         margin: 30px 0;
     }

     /* how it works video section end*/
     /* testimonial */
     .client_review_icon {
         top: 25px;
         left: -32px;
         width: 25px;
         height: 25px;
     }

     #testimonial_indicators {
         display: block;
         text-align: center;
         position: relative;
         top: -10px;
         left: 0;
     }

     /* testimonial */
     /* slick slider */
     .slick-slide {
         margin: 0;
     }

     /* the parent */
     .slick-list {
         margin: 0;
     }

     /* slick slider */
     .faq_img {
         width: 200px;
         margin-top: 20px;
     }

     .card-custom .card-header {
         padding: 7px;
     }


     /* faq */
     /* newsletter */
     .newsletter_button {

         padding: 10px 10px;
     }

     /* newsletter */
     /* pricing plan */
     .price_card {
         margin-bottom: 30px;
     }

     /* pricing plan */
     /* contact */
     .contact {
         padding-top: 30px;
     }

     .contact_subtitle {
         font-size: 22px;
     }

     .contact_form_btn_wrapper {
         display: flex;
         justify-content: center;
     }

     /* contact */
     /* footer */
     .appstore_link,
     .footer_menu,
     .footer_copyright,
     .footer_social_icon {
         text-align: center;
     }

     /* footer */



 }

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) {
     .section_padding {
         padding: 40px 0 !important;
     }

     .row_margin {
         margin-top: 20px;
     }

     /* header */


     .menu {
         text-align: right;
     }

     #signUp,
     #logIn {
         display: inline-block;
         margin: 0;
         margin-top: 5px;
         padding: 7px 0 !important;
         width: 100px;
     }

     .logo_wrapper a {
         width: 60px;
     }

     .logo_wrapper {
         position: absolute;
         top: 5px;
         z-index: 1;
     }



     /* header */
     /* banner */
     .slider_content {
         margin-top: 320px;
         height: 460px;
     }

     .slider_content h1 {
         font-size: 44px;

     }

     .slider_img_wrapper {
         width: 230px;
     }

     .slider_img_wrapper-2 {
         width: 200px;
     }

     .carousel-indicators-custom {
         bottom: -60px;
     }

     /* how it works  start*/
     .how_works {
         padding-bottom: 20px;
     }

     .step_content {
         text-align: center;
         padding: 20px;
     }

     .step_img {
         display: block;
         margin: auto;
     }

     .step_content h1 {
         font-size: 18px;
     }

     /* how it works  end*/
     /* how it works video section start*/
     .how_works {
         margin-top: -300px;
     }

     .section_heading h1 {
         font-size: 44px;
     }

     .section_heading p {
         margin: 30px 0;
     }

     /* how it works video section end*/
     /* testimonial */
     #testimonial_indicators {
         top: -40px;
     }

     /* testimonial */
     /* newsletter */
     .newsletter_button {

         padding: 10px 16px;
     }

     /* newsletter */
     /* pricing plan */
     .price_card {
         margin-bottom: 30px;
     }

     /* pricing plan */
     /* contact */
     .contact {
         padding-top: 40px;
     }

     .contact_form_btn_wrapper {
         display: flex;
         justify-content: center;
     }

     /* contact */
     /* footer */
     .appstore_link,
     .footer_menu,
     .footer_copyright,
     .footer_social_icon {
         text-align: center;
     }

     /* footer */



 }

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
     .section_padding {
         padding: 50px 0 !important;
     }

     .row_margin {
         margin-top: 30px;
     }

     /* header */


     .menu {
         text-align: right;
     }



     #signUp,
     #logIn {
         display: inline-block;
         margin: 0;
         margin-top: 5px;
         padding: 7px 0 !important;
         width: 100px;
     }

     .logo_wrapper a {
         width: 60px;
     }

     .logo_wrapper {
         position: absolute;
         top: 5px;
         z-index: 1;
     }


     /* banner */
     .slider_content {
         margin-top: 360px;
         height: 430px;
     }

     .slider_content h1 {
         font-size: 40px;
     }

     .slider_img_wrapper {
         width: 200px;
     }

     .slider_img_wrapper-2 {
         width: 185px;
     }

     .carousel-indicators-custom {
         bottom: -60px;
     }

     /* how it works  start*/
     /* how it works */
     .how_works {
         padding-bottom: 30px;
     }

     .step_content {
         padding: 15px;
     }

     .step_content h1 {
         font-size: 22px;
     }

     /* how it works  end*/
     /* faq */
     .faq_img {
         width: 250px;
     }

     /* faq */
     /* newsletter */
     .newsletter_button {

         padding: 10px 32px;
     }

     /* newsletter */
     /* pricing plan */
     .price_card {
         min-height: 590px;
     }

     .plan_price {
         font-weight: 700;
         font-size: 42px;
     }

     .price_card_title,
     .plan_price_btn,
     .plan_details {
         margin: 20px 0;
     }

     .price_plan_divider {
         margin: 20px auto;
     }

     .plan_price_btn a {
         font-size: 16px;
         padding: 8px 0;
     }

     /* pricing plan */
     /* blog */
     .blog_card {
         min-height: 470px;
     }

     /* blog */
     /* contact */
     .contact {
         padding-top: 50px;
     }


     /* contact */

 }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) {

     /* banner */
     .slider_content {
         margin-top: 360px;
         height: 500px;
     }

     .slider_content h1 {
         font-size: 48px;
     }

     .slider_img_wrapper {
         width: 250px;
     }

     .slider_img_wrapper-2 {
         width: 215px;
     }

     .carousel-indicators-custom {
         bottom: -85px;
     }
 }

 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {

     /* header */
     /* banner */
     .banner {
         padding-bottom: 200px;
     }

     .slider_content {
         margin-top: 400px;
         height: 500px;
     }

     .slider_content h1 {
         font-size: 48px;
     }

     .slider_img_wrapper {
         width: 250px;
     }

     .slider_img_wrapper-2 {
         width: 215px;
     }

     .carousel-indicators-custom {
         bottom: -85px;
     }
 }