* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #627d98;
}

.section_padding {
    padding: 80px 0 !important;
}

.custom-container {
    margin: 100px 0;
}

.blue_text {
    color: #2186eb;
}

.row_margin {
    margin-top: 50px;
}

/* header start */
.header {
    position: sticky;
    top: 0;
    z-index: 99999;
    padding-top: 10px;
    padding-bottom: 5px;

}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(58, 231, 225);
    background: linear-gradient(320deg, rgba(58, 231, 225, 1) 0%, rgba(33, 134, 235, 1) 100%);
}

/* @keyframes sticky {
    100% {
        background-color: #29a7e8;

    }
} */

.menu_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo_wrapper {
    text-align: center;
}

.logo_wrapper a {
    width: 70px;
}

.menu li a {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff !important;
    display: inline-block;
    margin: 5px 0;
    border-radius: 50px;
    padding: 6px 14px !important;
    transition: .5s;
}

.menu li a:hover {
    color: #2186eb !important;
    background-color: #ffffff;
    transform: translate(3px);
}

.access_btn {
    padding: 7px 26px !important;
}

#logIn {
    text-align: center;
    border: 2px solid #ffffff;
    padding: 7px 36px !important;
    border-radius: 50px;
    margin-right: 15px;
    transition: .3s;

}

#signUp {
    text-align: center;
    border: 2px solid #ffffff;
    padding: 7px 36px !important;
    border-radius: 50px;
    transition: .5s;
}

#logIn:hover,
#signUp:hover {
    transition: .3s;
    color: #2186eb !important;
    background-color: #ffffff;
    border: 2px solid #2186eb;
}

/* header end */
/* banner start */
.banner {
    padding-top: 70px;
    padding-bottom: 100px;
    top: -350px;
    position: relative;
    z-index: 999;
    background-image: url(../img/bg/banner-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* slider start */

.carousel-indicators-custom li {
    width: 15px;
    height: 15px;
}

.slider_content {
    margin-top: 300px;
    height: 650px;
    padding: 0 10px;

}

.slider_content h1 {
    font-weight: 500;
    font-size: 56px;
    color: #ffffff;
    margin-bottom: 25px;
}

.slider_img_wrapper {
    margin: auto;
    width: 300px;
}


.slider_img_wrapper-2 {
    width: 250px;
}


/* slider end */
/* banner end */
/* go top */
#go_top {

    position: fixed;
    z-index: 99999;
    bottom: 40px;
    right: 50px;
    display: none;

    cursor: pointer;
}

#go_top i {
    font-size: 35px;
    color: #2288eb;
    border-radius: 50%;
}

#go_top i:hover {
    box-shadow: 0px 0px 15px #2288eb;
}

/* how it works start*/
.how_works {
    margin-top: -250px;
    padding-bottom: 50px;
}

.step_content {
    padding: 30px;
    border-radius: 10px;
    transition: .5s;
}

.step_content:hover {
    transform: translateY(-10px);
    box-shadow: 1px 0 20px #00000033;
}

.step_content h1 {
    font-size: 28px;
    margin: 10px 0;
}

.step_img {
    width: 60px;
}

/* how it works  end*/
/* how it works video section start*/
.video_section {
    background-image: url(../img/section-bottom-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.video_wrapper {
    box-shadow: 1px 0 15px #1b1b1b;
}

.section_heading {
    margin-bottom: 30px;
    text-align: center;
}

.section_heading h1 {
    font-size: 48px;
    color: #334e68;
}

.section_heading p {
    color: #627d98;
    margin: 50px 0;
}


/* how it works video section  end*/
/* testimonial start */
.testimonial {
    background-image: url(../img/section-top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}


.testimonial_slider {
    margin-top: 30px;
}

.profile_img {
    position: absolute;
    top: 0;
    left: 0;
}


.client_review_icon {

    background-image: url(../img/testimonial-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    top: 30px;
    left: -70px;
    width: 45px;
    height: 45px;

}

#testimonial_indicators {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -100px;
    left: -50px;
}

/* the slides */
.slick-slide {
    margin: 0 20px;
}

/* the parent */
.slick-list {
    margin: 0 -20px;
}

.app_gallery_slider div img {
    position: relative;
    z-index: 2 !important;
    margin: auto;
    box-shadow: 1px 0 20px #00000033;
    margin: 20px 0px;
    border-radius: 15px;
}

#tes_prev {
    margin-right: 5px;
}

#tes_next {
    margin-left: 5px;
}

/* testimonial end*/
/* faq start */
.faq {
    background-image: url(../img/section-bottom-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.btn-link-custom {
    color: #627d98 !important;

}

.btn-link-custom:hover,
.btn-link-custom:focus {
    text-decoration: none;
    color: #2186eb !important;

}

.rotate {
    transform: rotate(90deg);
}

.card-custom {
    border: none;
    margin: 10px 0;
    box-shadow: 0px 0px 15px #dfdfdf;

}

.card-custom .card-header {
    background-color: white;
    border: 0;
}

.faq_img {
    width: 300px;
    margin: auto;
}



/* faq end */
/* newsletter start */
.newsletter {

    background: url(../img/newsletter-left-bg.png) 1% top no-repeat,
        url(../img/newsletter-right-bg.png) 99% bottom no-repeat;
    background-size: 25%,
        25%;
    background-color: #2186eb;
}

.newsletter_title {
    text-shadow: 0px 0px 2px #095097;
}

.newsletter_form {
    position: absolute;
}

.newsletter_prepend {

    font-size: 30px;
    color: #2186eb;
    background-color: white;
    border-radius: 50px;
    border: none;
}


.newsletter_input {
    border: none;
    min-height: 50px;
}

.newsletter_append {
    padding: 0 1px;
    border: 0;
    background-color: white;
    border-radius: 50px;

}

.newsletter_button {
    border: 2px solid white;
    background-color: #2186eb;
    color: white;
    border-radius: 50px;
    padding: 10px 52px;
    transition: .5s;
}

.newsletter_button:hover {
    background-color: white;
    color: #2186eb;
    border-color: #2186eb !important;
}

.newsletter_button:focus,
.newsletter_input:focus {
    outline: none;
    box-shadow: none;
}

.newsletter_input::placeholder,
.newsletter_input {
    color: #2186eb !important;

}

.newsletter_icon li a {
    font-size: 26px;
    color: white;
    margin: 0 8px;
}

/* newsletter end */
/* pricing plan */
.price_card {
    min-height: 620px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 0 20px #00000033;
    transition: .5s;

}

.price_card:hover {
    transform: scale(1.02) translateY(-10px);
}

.font_bold {
    font-weight: 700;
}

.price_card_title {

    font-weight: 700 !important;
    font-size: 14px;
    color: #2185e9;
    background-color: #e6f6ff;
    display: inline-block;
    padding: 7px 16px;
    margin: 30px 0;
    border-radius: 50px;
}

.price_plan_divider {
    background-color: #e6efff;
    width: 80%;
    margin: 30px auto;
}

.plan_price {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.plan_details {
    margin: 30px 0;
}



.plan_table {
    color: #627d98;
    width: 150px;
    margin: auto;
}

.plan_table td {
    padding: 5px 5px;
    border: none;
    display: table-cell;
}

.plan_price_btn {
    padding: 0 30px;
    margin: 30px 0;
}

.plan_price_btn a {
    font-weight: 700;
    font-size: 18px;
    color: #2186eb;
    border: 2px solid #2186eb;
    display: block;
    padding: 11px 0;
    border-radius: 50px;
    transition: ease-in-out .5s;
}

.plan_price_btn a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #2186eb;
    border-color: #2186eb;
}

/* for professional */
.professional_card {
    background-color: #2186eb;
    box-shadow: 1px 0 20px #2186eb;


}

.professional_card_title {
    color: #2185e9;
    background-color: #e6f6ff;


}

.professional_card_table,
.professional_plan_subtxt {
    color: #ffffff !important;
}

.professional_plan_btn a {
    color: #2186eb;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.professional_plan_btn a:hover {
    border-color: #ffffff;
}

/* for professional */


/* pricing plan */
/* blog start */
.blog {
    background-image: url(../img/section-bottom-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
}

.blog_card {

    min-height: 320px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    box-shadow: 1px 0 20px #00000033;
    border: none;
    border-radius: 10px;
}

.blog_title {
    margin: 15px 0;
}

.blog_title a {
    color: #2186eb;
}

.blog_all_btn {
    color: white;
    background-color: #2186eb;
    border: 2px solid #2186eb;
    padding: 10px 46px;
    font-size: 18px;
    border-radius: 50px;
    transition: .5s;
}

.blog_all_btn:hover {
    text-decoration: none;
    background-color: white;
    color: #2186eb;
    border-color: #2186eb;
}


/* blog end */
/* contact */
.contact {
    padding-top: 100px;
    padding-bottom: 30px;
}

.contact_subtitle {
    font-size: 24px;
}

.contact_form_email {
    position: relative;
}

.contact_select_issue {
    position: relative;
}

.valid-tooltip-custom {
    right: 0 !important;
}

.contact_form_email {
    position: relative;

}

.contact_form_email:before {
    content: url(../img/paper-plane.png);
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: 999;
    pointer-events: none;
}


.contact_input {
    height: 50px;
    color: #2186eb;
    border: 2px solid #2186eb;
    border-radius: 50px !important;
    background-color: transparent;
    padding: 7px 16px;
    width: 100%;
}

.contact_email {
    padding-left: 50px;
}

.contact_email::placeholder {
    color: #2186eb;
}

.contact_email:focus,
.contact_email:active {
    background-color: transparent !important;
}

/* select style */
.contact_select_issue select,
.contact_select_issue select:focus {
    background: #ffffff !important;
    color: #2186eb;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}


.contact_select_issue::after {
    font-family: FontAwesome;
    content: '\f0dd';
    font-size: 28px;
    position: absolute;
    top: 0;
    right: 20px;
    color: #2186eb;
    pointer-events: none;
}

.contact_select_issue select::-ms-expand {
    display: none;
}

/* select style */
.contact_form_btn {
    min-width: 100%;
    border: 2px solid white;
    background-color: #2186eb;
    color: white;
    border-radius: 50px;
    height: 50px;
    padding: 7px 16px;
    transition: .5s;
}

.contact_form_btn:hover {
    background-color: white;
    color: #2186eb;
    border-color: #2186eb !important;
}

.contact_address {

    font-weight: 700;
    color: #2186eb;
}

.contact_icon {
    font-size: 25px;
    margin-right: 15px;
}

.contact_address_txt {
    margin-top: 5px;
}

/* contact */
/* map */


/* map */
/* footer */
.footer {
    padding: 20px 0;
    background-color: #0967d2;
}

.footer_menu li a {
    margin: 0;
}

.footer_menu {
    text-align: right;
    margin: 0 !important;
}

.footer_menu li a {
    padding: 5px;
    color: #ffffff;
    border-bottom: 2px solid transparent;
    transition: .5s;

}

.footer_menu li {
    margin: 0 !important;
}

.footer_menu li a:hover {
    color: #d8ebfd;
    border-bottom: 2px solid white;
}

.footer_copyright {
    color: #ffffff !important;
    margin: 0;
}

.footer_social_icon {
    text-align: right;
    margin: 0;
}

.footer_copyright a {
    color: #b5d2f3;
}

.footer_social_icon li a {
    color: white;
    padding: 5px;

}

/* footer */
/* go to top btn */